{% extends 'login_base.html' %}

{% load staticfiles i18n %}

{% block mainContent %}

<!-- 
<h1 class="logo"><a href="">IRememberYourPast</a></h1>
<div class="signup">
    <h2>{% trans 'Sign up for IRememberYourPast' %}</h2>
    <form action="{% url 'signup' %}" method="post" role="form" id='signup'>
        {% csrf_token %} 
        {% for field in form.visible_fields %}
          <div class="form-group{% if field.errors %} has-error{% endif %}">
              <label for="{{ field.label }}">{{ field.label }}</label>
              {{ field }} {% if field.help_text %}
              <span class="help-block">{{ field.help_text|safe }}</span> {% endif %} {% for error in field.errors %}
              <label class="control-label">{{ error }}</label>
              {% endfor %}
          </div>
        {% endfor %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-lg">{% trans 'Create an account' %}</button>
    </form>
</div> 
-->
<style>
.wrapper{
    width: 700px;
    height: 400px;
    position: fixed;
    margin-left: -350px;
    margin-top: -200px;
    top: 50%;
    left: 50%;
}
</style>
<div class="wrapper">
    <div class="row">
        <div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Basic form <small>Simple login </small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r"><h2 class="m-t-none m-b">Sign in</h2>

                            <form method="post" action="{% url 'login' %}" role="form">
                                {% csrf_token %}
                                
                                <div class="form-group{% if form.username.errors %} has-error{% endif %}">
                                  <label>Email</label> 
                                  <input type="email" id='username' name="username" placeholder="Enter email" class="form-control">
                                  {% for error in form.username.errors %}
                                      <label class="control-label">{{ error }}</label>
                                  {% endfor %}
                                </div>

                                <div class="form-group{% if form.password.errors %} has-error{% endif %}">
                                  <label>Password</label> 
                                  <input type="password" id='password' name="password" placeholder="Enter email" class="form-control">
                                  {% for error in form.password.errors %}
                                      <label class="control-label">{{ error }}</label>
                                  {% endfor %}
                                </div>
                                <div>
                                  <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Log in</strong></button>
                                  <label> <input type="checkbox" class="i-checks"> Remember me </label>
                                </div>
                            </form>
                        </div>

                        <div class="col-sm-6"><h4>Not a member?</h4>
                            <p>You can create an account:</p>
                            <a href="{% url 'signup' %}"> 
                              <p class="text-center">
                                  <i class="fa fa-sign-in big-icon"></i>
                              </p>
                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock mainContent %}


{% block javascript %}
  <script>
    $(function(){
      $('.btn-primary').click(function(){
        var username = $('#id_email').val();
        console.log(username);
        $('#id_username').val(username);
      });
    });
  </script>
{% endblock javascript %}
