{% extends 'login_base.html' %}

{% load staticfiles i18n %}

{% block mainContent %}
<style>
.wrapper{
    width: 600px;
    height: 500px;
    position: fixed;
    margin-left: -300px;
    margin-top: -250px;
    top: 50%;
    left: 50%;
}
.ibox-content{
    padding: 50px;
}
</style>
<div class="wrapper">
    <div class="row">
        <div>
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>Sign Up</h4>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <h1 class="logo">I Remember Your Past</h1>
                        <div class="signup">
                            <form action="{% url 'signup' %}" method="post" role="form" id='signup'>
                                {% csrf_token %} 
                                {% for field in form.visible_fields %}
                                  <div class="form-group{% if field.errors %} has-error{% endif %}">
                                      <label for="{{ field.label }}">{{ field.label }}</label>
                                      {{ field }} {% if field.help_text %}
                                      <span class="help-block">{{ field.help_text|safe }}</span> {% endif %} {% for error in field.errors %}
                                      <label class="control-label">{{ error }}</label>
                                      {% endfor %}
                                  </div>
                                {% endfor %}
                                {% for field in form.hidden_fields %}
                                    {{ field }}
                                {% endfor %}
                                <button type="submit" class="btn btn-primary btn-lg">{% trans 'Create an account' %}</button>
                            </form>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock mainContent %}


{% block javascript %}
  <script>
    $(function(){
      $('.btn-primary').click(function(){
        var username = $('#id_email').val();
        console.log(username);
        $('#id_username').val(username);
      });
    });
  </script>
{% endblock javascript %}
