{% load humanize %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th style="width: 15%">DATE </th>
                <th>CONTENT</th>
                <th style="width: 15%"></th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comment_list %}
            <tr>
                <td >
                    {{ comment.created_at|naturaltime }} 
                </td>
                <td>{{ comment.content|linebreaks }}</td>
                <td>
                    <button class='btn btn-primary update-comment' data-url="{% url 'comments:ajax_comment_update' comment.id %}">
                        <span class="glyphicon glyphicon-plus"></span> UPDATE COMMENT
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class='btn btn-primary add-comment' data-url="{% url 'comments:ajax_comment_add' vendor.id %}">
        <span class="glyphicon glyphicon-plus"></span> ADD COMMENT
    </button>