<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>ID </th>
            <th>TYPE </th>
            <th>QUOTATION PRICE</th>
            <th>CURRENCY </th>
            <th>PAY TERM</th>
            <th>QUOTATION DATE</th>
            <th>EFFIVE DATE</th>
            <th>STATUS</th>
            <th>COMMENT</th>
        </tr>
    </thead>
    <tbody>
    {% for quotation in vendorProduct.quotation_set.all %}
        <tr class='sub{% if quotation.status == 'I' %} invlid{% endif %}'>
            <td> {{forloop.counter }} </td>
            <td> {{vendorProduct.ptype}}</td>
            <td style="text-align:right"> {{quotation.price|floatformat:2}}</td>
            <td> {{quotation.currency}} </td>
            <td> {{quotation.payterm}}</td>
            <td> {{quotation.quote_date|date:'Y/m/d'}} </td>
            <td> {{quotation.effective_date|date:'Y/m/d'}} </td>
            <td> {{quotation.status}} </td>
            <td> {{quotation.comment}} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>