{% extends "base.html" %}
{% load static bootstrap3 %}

{% block title %}
    ORDER ADD
{% endblock title %}

{% block css %}
    <link href="{% static 'css/iCheck/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/dataTables/datatables.min.css' %}" rel="stylesheet">
{% endblock css %}


{% block header-index %}
    <h2> PURCHASE ORDER </h2>
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'home' %}">Home</a>  
        </li>
        <li>
            PURCHASE ORDER
        </li>
        <li class="active">
            <strong>PURCHASE ORDER ADD</strong>
        </li>
    </ol>
{% endblock header-index %}


{% block mainContent %}
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>PURCHASE ORDER ADD </h5>
                <div class="ibox-tools">

                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a></li>
                    </ul>
                </div>
            </div>
            <div class="ibox-content"> 
                <form action="{% url 'order:porder_add' %}" method='POST' class='form'>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <button type="submit" class="btn btn-primary pull-right">
                        {% bootstrap_icon "star" %} SUBMIT
                    </button>
                </form>

            </div> <!-- class="ibox-content" -->
        </div> <!-- class="ibox float-e-margins" -->
    </div> <!-- class="col-lg-12" -->
        
{% endblock mainContent %}



{% block javascript %}
    

{% endblock javascript %}

</body>

</html>
