<tr class="gradeX">
    <td>OFFER #</td>
    <td>{{ porder.offer_no }}</td>
</tr>
<tr class="gradeX">
    <td>NAME</td>
    <td>{{ porder.name }}</td>
</tr>
<tr class="gradeX">
    <td>VENDOR</td>
    <td>{{ porder.vendor }}</td>
</tr>
<tr class="gradeX">
    <td>CONTACT</td>
    <td>{{ porder.contact }}</td>
</tr>
<tr class="gradeX">
    <td>TOTAL AMOUNT</td>
    <td>{{ porder.total_amount }}</td>
</tr>
<tr class="gradeX">
    <td>PRICE TERM</td>
    <td>{{ porder.paycondition.price_term }}</td>
</tr>
<tr class="gradeX">
    <td>PAY PERIOD</td>
    <td>{{ porder.paycondition.pay_term }}</td>
</tr>
<tr class="gradeX">
    <td>CONFIRMED</td>
    <td>{{ porder.confirmed }}</td>
</tr>
<tr class="gradeX">
    <td>FIXED</td>
    <td>{{ porder.fixed }}</td>
</tr>
<tr class="gradeX">
    <td>PAID</td>
    <td>{{ porder.paid }}</td>
</tr>
<tr class="gradeX">
    <td>CONTRACT FILE</td>
    <td>{{ porder.sales_file }}</td>
</tr>